$body-background:#2d8193;
$card-height: 32rem;
$card-margin-bottom: 25px;
$image-width:15rem;
$image-height: 15rem;
$anchor-color: #ffffff;
$anchor-hovercolor: wheat;

$button-color: #0072ee;
$modal-title-font:'Times New Roman', Times, serif;